<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="suite">

    <test name="alltests">
        <packages>
            <package name="LevelUpAT.*"/>
        </packages>
    </test>

    <test name="multanddrive">
        <classes>
            <class name="MultiplyAndDivide"/>
        </classes>
    </test>

    <test name="sumandsub">
        <classes>
            <class name="SummationAndSubtraction"/>
        </classes>
    </test>

</suite>